body {
  font-family: 'Kanit', sans-serif;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.8em;
}

.login-panel {
  float: right;
}

input[name=user] {
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 15px;
}

input[name=pass] {
  padding-left: 5px;
  margin-left: 10px;
}

#header .item img {
  display: block;
  width: 100%;
  height: auto;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fullscreen {
  height: 100%;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.70);
}

.example {
  background-color: black;
  height: 200px;
}

.panel-primary {
    border: none;
}