.product-header {
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.product-list {
  height: 80px;
  margin: 17px 0 0 0;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px #CCCCCC;
  overflow: hidden;
  position: relative;
  cursor: default;
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.product-pic {
  height: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
  border-radius: 10px 0 0 10px;
}

.cropper {
  height: 100%;
  width: 70px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 8px 2px #CCCCCC;    
  background-color: black;
}

.checkhover {
  height: 100%;
  width: 50px;
  position: absolute;
  z-index: 90;
}

.sidepic {
  height: 80px;
  left: -80px;
  position: absolute;
}

.product-name {
  width: 150px;
  font-size: 1.7em;
  padding: 0px;
  left: 90px;
  position: absolute;
}

.product-description {
  padding: 0;
}

.product-price {
  font-size: 1.2em;
  padding: 0;
  text-align: right;
}

.quantity-picker {
  height: 80px;
  width: 30px;
  padding: 0;
  text-align: center;
  right: 20px;
  position: absolute;
}

.quantity-picker input {
  height: 28px;
  width: 30px;
  border: 2px solid gray;
  border-radius: 3px;
}

.quantity-filler {
  text-align: center;
}

.arrow {
  height: 25px;
  width: 100%;
  padding-top: 2px; 
  cursor: pointer;
  position: relative;
}

.arrow img {
  height: 15px;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}