DirectoryIndex index.php index.html index.htm

Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=HTTPS

RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

Options -Indexes
Options +FollowSymlinks

<Files .htaccess>
  deny from all
</Files>
